/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: 20px 0;
}

main{
    width: 60%;
    margin: auto;
}

img{
    width: 100%;
}

ul{
    background-color: #f4f6f5;
    border-radius: 10px;
    padding: 30px;
    list-style-type: none;
}

ul li{
    border-bottom: 1px solid #e2e4e4;
    padding: 10px;
}

.todo-done{
    text-decoration: line-through;
}

/* HEADER */
.logo-container{
    width: 300px;
    margin: auto;
}

/* MAIN */
.new-todo-container{
    text-align: center;
    margin: 30px 0;
}

.new-todo-container input,
.new-todo-container button{
    padding: 7px 14px;
    border-radius: 10px;
    border: 1px solid black;
}

span.todo-text{
    cursor: pointer;
}

ul li .cross-icon{
    float: right;
}

.cross-icon:hover{
    color: red;
    cursor: pointer;
}