<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">

        <!-- HEADER -->
        <header>
            <div class="logo-container">
                <img src="img/logo.png" alt="Boolean Logo">
            </div>
        </header>

        <!-- MAIN -->
        <main>
            <div class="new-todo-container">
                <input v-model="userTodoText" type="text" placeholder="Nuova Todo">
                <button @click="newTodo">Aggiungi</button>
            </div>
            <ul>
                <li v-for="(todo) in todoList">
                    {{ todo.text }}
                    <span class="cross-icon"><i class="fas fa-times"></i></span>
                </li>
            </ul>
        </main>
    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>