<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root">

        <!-- HEADER -->
        <header>

            <!-- Logo -->
            <div class="logo-container">
                <img src="img/logo.png" alt="Boolean Logo">
            </div>
        </header>

        <!-- MAIN -->
        <main>

            <!-- New Todo Input -->
            <div class="new-todo-container">
                <input @keyup.enter="newTodo" v-model="userTodoText" type="text" placeholder="Nuova Todo">
                <button @click="newTodo">Aggiungi</button>
            </div>

            <!-- Todo List -->
            <ul>
                <li v-for="(todo, index, todoList) in todoList" :class="{ 'todo-done': todo.done }">
                    <span @click="checkDone(index)" class="todo-text">{{ todo.text }}</span>
                    <span class="cross-icon"><i @click="deleteTodo(index)" class="fas fa-times"></i></span>
                </li>
            </ul>
        </main>

    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>